.fixed-menu {
  position: fixed;
  top: 40%;
  right: 5%;
  z-index: $z-fixed-menu;
}

.fixed-menu_item {
  margin-bottom: rem(5px);

  &--active {
    .fixed-menu_link {
      border-color: #fff;
    }
  }
}

.fixed-menu_link {
  position: relative;
  width: rem(16px);
  height: rem(16px);
  border-radius: 50%;
  border: rem(1px) solid transparent;
  display: block;

  &::before {
    position: absolute;
    content: "";
    display: block;
    width: rem(6px);
    height: rem(6px);
    border-radius: 50%;
    background: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
 