.form {
  display: flex;
  color: #497870;
  flex-wrap: wrap;
  user-select: none;
  margin-left: rem(80px);
  margin-right: rem(80px);

  &-col {
    flex: 1;
    margin-right: rem(17px);

    .form-row {
      display: flex;
      margin-bottom: rem(15px);

      .form-block {
        flex: 1;
        margin-right: rem(18px);

        &:last-child {
          margin-right: 0;
        }

        .form-input {
          width: 100%;
          padding: rem(18px)  rem(10px);
          border: rem(3px) solid transparent;
          border-radius: rem(4px);

          &:focus {
            border-color: #DEE2BD;
            border-radius: rem(5px);
            outline: none;
          }

          &_texterea {
            height: rem(182px);
            resize: none;
          }
        }
      }
    }

    .form-controls {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: rem(10px);

      &_checkbox {
        margin-bottom: rem(34px);
      }
  
      &:last-child {
        margin-right: 0;
      }

      .radio {
        display: flex;
        cursor: pointer;
        user-select: none;
        margin-right: rem(10px);

        &-elem {
          display: none;

          &:checked ~ .radio-visible {
            &::before {
              display: block;
            }
          }
        }
 
        .radio-visible {
          width: rem(26px);
          height: rem(26px);
          position: relative;
          border-radius: 50%;
          background: #ffff;
          margin-right: rem(10px);

          &::before {
            content: "";
            width: rem(14px);
            height: rem(14px);
            background: #365a49;
            border-radius: 50%;
            position: absolute;
            display: none;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
        }

        &-checkbox {
          .radio-visible {
            border-radius: 0;

            &::before {
              background: url(../img/section-form/checkmark.png) center center no-repeat;
            }
          }
        }
      }
    }
  }
}