.section-form {
  width: 100%;
  height: 100vh;
  position: relative;
  position: relative;
  background: url(../../img/section-form/pattern.svg) center center/cover no-repeat;

  &::before {
    content: "";
    background: url(../../img/section-form/berries.png) center center / 75% no-repeat;
    width: 100px;
    height: 100px;
    position: absolute;
    left: 150px;
    bottom: 80px;
  }

  &::after {
    content: "";
    background: url(../../img/section-form/leaves.png) center center / 90% no-repeat;
    width: 200px;
    height: 250px;
    position: absolute;
    right: 180px;
    bottom: 100px;
  }
}