@charset "UTF-8";
@import url(./normalize.css);
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@400;700&display=swap");
/* line 1, layout/layout.scss */
html {
  font-size: 18px;
  /* Определяет размер шрифта элемента */ }

/* line 5, layout/layout.scss */
body {
  font-family: 'Alegreya Sans', sans-serif;
  /* выбор шрифта */
  color: #001822;
  /* цвет шрифта */
  line-height: 1.42;
  /* междустрочный пробел */
  -webkit-font-smoothing: antialiased;
  /* свойства для сглаживания шрифта */
  margin: 0 0; }

/* line 14, layout/layout.scss */
a {
  color: inherit;
  /* цвет для ссылок, inherit - наследование от блока */ }

/* line 18, layout/layout.scss */
ul {
  padding: 0;
  margin: 0; }

/* line 23, layout/layout.scss */
ul li {
  list-style: none;
  /*убрать точки стилей*/ }

/* line 27, layout/layout.scss */
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal; }

/* line 32, layout/layout.scss */
p {
  margin-top: 0; }

/* line 36, layout/layout.scss */
* {
  box-sizing: border-box; }

/* line 40, layout/layout.scss */
.container {
  margin: 0 auto;
  width: 95%;
  max-width: 1100px; }

/* line 46, layout/layout.scss */
.container-hero {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px 10px 0 0;
  height: 100vh; }

/* line 74, layout/layout.scss */
.container-benefits {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh; }

/* line 81, layout/layout.scss */
.container-reviews {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh; }

/* line 88, layout/layout.scss */
.container-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; }

/* line 1, section-hero/section-hero.scss */
.section-hero {
  width: 100%;
  height: 100vh;
  color: #fff; }

/* line 15, section-hero/section-hero.scss */
.hero-pattern {
  background: url(../img/section-hero/leaves1.png) right 6% bottom 25%/10% no-repeat, url(../img/section-hero/bars.png) right 8% bottom 30%/30% no-repeat, url(../img/section-hero/pattern.png) right bottom/40% no-repeat;
  background-color: #61C4D9; }
  @media screen and (max-width: 768px) {
    /* line 15, section-hero/section-hero.scss */
    .hero-pattern {
      background: url(../img/section-hero/leaves1.png) right 20% bottom 60%/30% no-repeat, url(../img/section-hero/bars.png) center bottom 70%/60% no-repeat, url(../img/section-hero/pattern.png) right bottom 85%/100% no-repeat;
      background-color: #61C4D9; } }
  /* line 30, section-hero/section-hero.scss */
  .hero-pattern::after {
    content: "";
    background: url(../img/section-hero/leaves2.png) left 15% bottom 11%/30% no-repeat, url(../img/section-hero/berries1.png) left top -150%/50% no-repeat, url(../img/section-hero/berries2.png) right bottom/25% no-repeat;
    width: 38.8888888889rem;
    height: 22.2222222222rem;
    position: absolute;
    right: 11.1111111111rem;
    bottom: -3.8888888889rem; }
    @media screen and (max-width: 768px) {
      /* line 30, section-hero/section-hero.scss */
      .hero-pattern::after {
        background: url(../img/section-hero/leaves2.png) center bottom/30% no-repeat, url(../img/section-hero/berries1.png) left center/61% no-repeat, url(../img/section-hero/berries2.png) right bottom/24% no-repeat;
        width: 43%;
        height: 20%;
        left: 13.6111111111rem;
        position: absolute;
        bottom: 29.4444444444rem; } }
  /* line 55, section-hero/section-hero.scss */
  .hero-pattern::before {
    content: "";
    background: url(../img/section-hero/leaves3.png) center center/60% no-repeat;
    width: 5.5555555556rem;
    height: 11.1111111111rem;
    position: absolute;
    left: 10%;
    bottom: -4.1111111111rem; }
    @media screen and (max-width: 768px) {
      /* line 55, section-hero/section-hero.scss */
      .hero-pattern::before {
        display: none; } }

/* line 1, section-hero/header.scss */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1.3333333333rem;
  margin-left: 4.4444444444rem;
  margin-right: 4.4444444444rem; }
  @media screen and (max-width: 768px) {
    /* line 1, section-hero/header.scss */
    .header {
      margin-left: 0.2222222222rem; } }
  /* line 13, section-hero/header.scss */
  .header .header-col_left {
    display: flex;
    width: 78%; }
    /* line 17, section-hero/header.scss */
    .header .header-col_left .logo-link {
      display: flex; }
      /* line 20, section-hero/header.scss */
      .header .header-col_left .logo-link .logo-icon {
        fill: #fff; }
    /* line 25, section-hero/header.scss */
    .header .header-col_left .header-menu {
      width: 100%;
      font-size: 1rem;
      margin-top: 0.4444444444rem;
      margin-left: 2.3888888889rem; }
      /* line 31, section-hero/header.scss */
      .header .header-col_left .header-menu .menu-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between; }
        /* line 36, section-hero/header.scss */
        .header .header-col_left .header-menu .menu-list .menu-benefits:hover {
          color: #365A49; }
        /* line 40, section-hero/header.scss */
        .header .header-col_left .header-menu .menu-list .menu-slider:hover {
          color: #365A49; }
        /* line 44, section-hero/header.scss */
        .header .header-col_left .header-menu .menu-list .menu-team:hover {
          color: #365A49; }
        /* line 48, section-hero/header.scss */
        .header .header-col_left .header-menu .menu-list .menu-products:hover {
          color: #365A49; }
        /* line 52, section-hero/header.scss */
        .header .header-col_left .header-menu .menu-list .menu-reviews:hover {
          color: #365A49; }
        /* line 56, section-hero/header.scss */
        .header .header-col_left .header-menu .menu-list .menu-player:hover {
          color: #365A49; }
        /* line 60, section-hero/header.scss */
        .header .header-col_left .header-menu .menu-list .menu-map:hover {
          color: #365A49; }
        /* line 64, section-hero/header.scss */
        .header .header-col_left .header-menu .menu-list .menu-link {
          text-decoration: none; }
      @media screen and (max-width: 768px) {
        /* line 25, section-hero/header.scss */
        .header .header-col_left .header-menu {
          display: none; } }
  /* line 75, section-hero/header.scss */
  .header .header-col_right {
    display: flex;
    width: 9.4444444444rem; }
    /* line 79, section-hero/header.scss */
    .header .header-col_right .phone-link {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-right: 0.2777777778rem; }
      /* line 85, section-hero/header.scss */
      .header .header-col_right .phone-link .phone-icon {
        fill: #fff; }
    /* line 90, section-hero/header.scss */
    .header .header-col_right .header-contacts {
      width: 7.9444444444rem; }
      /* line 93, section-hero/header.scss */
      .header .header-col_right .header-contacts .header-phone {
        font-size: 1.3333333333rem;
        text-decoration: none;
        font-style: normal; }
    @media screen and (max-width: 768px) {
      /* line 75, section-hero/header.scss */
      .header .header-col_right {
        display: none; } }

/* line 1, section-hero/burger.scss */
.burger-span {
  position: absolute;
  display: none;
  right: 0;
  height: 1.2777777778rem;
  width: 1.2777777778rem;
  cursor: pointer;
  z-index: 100;
  -webkit-transition: opacity .25s ease;
  -o-transition: opacity .25s ease;
  transition: opacity .25s ease;
  margin-right: 1.4444444444rem; }
  @media screen and (max-width: 768px) {
    /* line 1, section-hero/burger.scss */
    .burger-span {
      display: flex; } }
  /* line 18, section-hero/burger.scss */
  .burger-span.burger-span--active {
    opacity: 0.7; }
    /* line 21, section-hero/burger.scss */
    .burger-span.burger-span--active .burger-span_top {
      -webkit-transform: translateY(11px) translateX(0) rotate(45deg);
      -ms-transform: translateY(11px) translateX(0) rotate(45deg);
      transform: translateY(11px) translateX(0) rotate(405deg);
      border-radius: 0.2777777778rem; }
    /* line 28, section-hero/burger.scss */
    .burger-span.burger-span--active .burger-span_middle {
      opacity: 0; }
    /* line 32, section-hero/burger.scss */
    .burger-span.burger-span--active .burger-span_bottom {
      -webkit-transform: translateY(-11px) translateX(0) rotate(-45deg);
      -ms-transform: translateY(-11px) translateX(0) rotate(-45deg);
      transform: translateY(-11px) translateX(0) rotate(-405deg);
      border-radius: 5px; }
  /* line 40, section-hero/burger.scss */
  .burger-span_item {
    background: #fff;
    border: none;
    height: 0.2222222222rem;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transition: all .65s ease;
    -o-transition: all .65s ease;
    transition: all .65s ease;
    cursor: pointer; }
    /* line 54, section-hero/burger.scss */
    .burger-span_item:nth-of-type(2) {
      top: 0.5rem; }
    /* line 58, section-hero/burger.scss */
    .burger-span_item:nth-of-type(3) {
      top: 1rem; }

/* line 1, section-hero/title.scss */
.title-col {
  display: flex;
  align-items: flex-start;
  width: 37%;
  min-height: 16.6666666667rem;
  flex-direction: column;
  text-align: center;
  margin-left: 4.4444444444rem;
  z-index: 10; }
  /* line 11, section-hero/title.scss */
  .title-col .title {
    font-size: 2.6666666667rem;
    font-weight: bold;
    line-height: 1.2;
    text-transform: uppercase;
    margin-bottom: 1.1111111111rem; }
  /* line 19, section-hero/title.scss */
  .title-col .subtitle {
    font-size: 1.1666666667rem;
    line-height: 1.3;
    margin-bottom: 1.3888888889rem; }
  @media screen and (max-width: 768px) {
    /* line 1, section-hero/title.scss */
    .title-col {
      align-items: center;
      min-width: 100%;
      min-height: 20.1111111111rem;
      margin-left: 0;
      margin-bottom: 14%; } }

/* line 1, button/button.scss */
.btn {
  font-size: 0.8888888889rem;
  border-radius: 1.9444444444rem;
  padding: 1.1111111111rem 2.1111111111rem;
  font-weight: 800;
  text-transform: uppercase;
  border: none; }
  /* line 11, button/button.scss */
  .btn-title {
    color: #365A49; }
    /* line 14, button/button.scss */
    .btn-title:hover {
      color: #497870; }
  /* line 20, button/button.scss */
  .btn-form {
    background: #497870;
    color: #fff; }
    /* line 24, button/button.scss */
    .btn-form:hover {
      background: #2E4E3F; }
    /* line 28, button/button.scss */
    .btn-form_transparent {
      background: transparent;
      color: #497870;
      font-weight: 400;
      text-transform: none; }
      /* line 34, button/button.scss */
      .btn-form_transparent:hover {
        color: #000; }

/* line 1, section-hero/bullet-text.scss */
.bullet-text {
  margin-left: 4.4444444444rem;
  margin-bottom: 2.7777777778rem;
  z-index: 10; }
  /* line 6, section-hero/bullet-text.scss */
  .bullet-text .bullet-list {
    display: flex;
    flex-wrap: wrap; }
    /* line 10, section-hero/bullet-text.scss */
    .bullet-text .bullet-list .bullet-item {
      display: flex; }
      /* line 13, section-hero/bullet-text.scss */
      .bullet-text .bullet-list .bullet-item .bullet-icon {
        margin-right: 0.4444444444rem; }
        /* line 16, section-hero/bullet-text.scss */
        .bullet-text .bullet-list .bullet-item .bullet-icon .bullet-leaves_icon {
          width: 2.4444444444rem;
          height: 2.3333333333rem;
          fill: #fff; }
        /* line 22, section-hero/bullet-text.scss */
        .bullet-text .bullet-list .bullet-item .bullet-icon .bullet-auto_icon {
          width: 3.0555555556rem;
          height: 2.2777777778rem;
          fill: #fff; }
        /* line 28, section-hero/bullet-text.scss */
        .bullet-text .bullet-list .bullet-item .bullet-icon .bullet-paper_icon {
          width: 2.5rem;
          height: 2.3333333333rem;
          fill: #fff; }
      /* line 35, section-hero/bullet-text.scss */
      .bullet-text .bullet-list .bullet-item .bullet-leaves {
        display: flex;
        width: 5rem;
        font-size: 0.8888888889rem;
        line-height: 1.2;
        margin-right: 1.9444444444rem; }
      /* line 43, section-hero/bullet-text.scss */
      .bullet-text .bullet-list .bullet-item .bullet-auto {
        display: flex;
        width: 4rem;
        font-size: 0.8888888889rem;
        line-height: 1.2;
        margin-right: 1.9444444444rem; }
      /* line 51, section-hero/bullet-text.scss */
      .bullet-text .bullet-list .bullet-item .bullet-paper {
        display: flex;
        width: 3.5555555556rem;
        font-size: 0.8888888889rem;
        line-height: 1.2; }
  @media screen and (max-width: 768px) {
    /* line 1, section-hero/bullet-text.scss */
    .bullet-text {
      display: none; } }

/* line 1, section-benefits/section-benefits.scss */
.section-benefits {
  width: 100%;
  height: 100vh;
  color: #000;
  position: relative;
  z-index: 40; }
  /* line 9, section-benefits/section-benefits.scss */
  .section-benefits::before {
    content: "";
    background: url(../img/section-benefits/raspberries.png) left center/85% no-repeat;
    width: 16.6666666667rem;
    height: 27.7777777778rem;
    position: absolute;
    bottom: -9.2777777778rem; }
    @media screen and (max-width: 768px) {
      /* line 9, section-benefits/section-benefits.scss */
      .section-benefits::before {
        content: "";
        background: url(../img/section-benefits/raspberries.png) left center/85% no-repeat;
        width: 8.3333333333rem;
        height: 13.8888888889rem;
        position: absolute;
        bottom: -3.3333333333rem; } }

/* line 1, section-benefits/benefits-headline.scss */
.headline-cap {
  display: flex;
  flex-direction: column;
  margin-bottom: 5.2777777778rem; }
  /* line 6, section-benefits/benefits-headline.scss */
  .headline-cap .headline-title {
    font-size: 2.6666666667rem;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 1.1111111111rem; }
  /* line 14, section-benefits/benefits-headline.scss */
  .headline-cap .headline-subtitle {
    padding: 0 29%; }
    @media screen and (max-width: 768px) {
      /* line 14, section-benefits/benefits-headline.scss */
      .headline-cap .headline-subtitle {
        padding: 0 25%; } }

/* line 1, section-benefits/benefits.scss */
.benefits-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: 3.8333333333rem;
  margin-right: 3.8333333333rem; }
  /* line 7, section-benefits/benefits.scss */
  .benefits-list .benefits {
    text-align: center; }
  /* line 11, section-benefits/benefits.scss */
  .benefits-list .benefits-item {
    flex: 1;
    padding: 0 4%;
    position: relative; }
    /* line 16, section-benefits/benefits.scss */
    .benefits-list .benefits-item:first-child {
      padding-left: 0; }
    /* line 20, section-benefits/benefits.scss */
    .benefits-list .benefits-item:last-child {
      padding-right: 0; }
    /* line 24, section-benefits/benefits.scss */
    .benefits-list .benefits-item .benefits-image {
      margin-bottom: 3.0555555556rem; }
      /* line 27, section-benefits/benefits.scss */
      .benefits-list .benefits-item .benefits-image .benefits-wrap {
        height: 3.8888888889rem;
        display: flex;
        justify-content: center; }
        /* line 32, section-benefits/benefits.scss */
        .benefits-list .benefits-item .benefits-image .benefits-wrap .icon-happy {
          width: 3.6111111111rem;
          height: 3.8333333333rem;
          fill: #292929; }
        /* line 38, section-benefits/benefits.scss */
        .benefits-list .benefits-item .benefits-image .benefits-wrap .icon-smile {
          width: 3.7777777778rem;
          height: 3.7777777778rem;
          fill: #292929; }
        /* line 44, section-benefits/benefits.scss */
        .benefits-list .benefits-item .benefits-image .benefits-wrap .icon-hand {
          width: 4.3888888889rem;
          height: 3.5rem;
          fill: #292929; }
    /* line 54, section-benefits/benefits.scss */
    .benefits-list .benefits-item .benefits-text .benefits-title {
      font-size: 1.5rem;
      font-weight: bold;
      margin-bottom: 0.8888888889rem; }
    /* line 60, section-benefits/benefits.scss */
    .benefits-list .benefits-item .benefits-text .benefits-desc {
      line-height: 1.2; }

/* line 1, section-reviews/section-reviews.scss */
.section-reviews {
  width: 100%;
  height: 100vh;
  position: relative;
  z-index: 30; }
  /* line 7, section-reviews/section-reviews.scss */
  .section-reviews::before {
    content: "";
    background: url(../img/section-reviews/reviews-background/berries1.png) left center/75% no-repeat;
    width: 16.6666666667rem;
    height: 27.7777777778rem;
    position: absolute;
    bottom: -13.0555555556rem; }
    @media screen and (max-width: 768px) {
      /* line 7, section-reviews/section-reviews.scss */
      .section-reviews::before {
        width: 11.1111111111rem;
        height: 22.2222222222rem; } }
  /* line 21, section-reviews/section-reviews.scss */
  .section-reviews::after {
    content: "";
    background: url(../img/section-reviews/reviews-background/berries2.png) center center/75% no-repeat;
    width: 16.6666666667rem;
    height: 13.8888888889rem;
    position: absolute;
    right: 2.2222222222rem;
    top: 2.2222222222rem; }
    @media screen and (max-width: 768px) {
      /* line 21, section-reviews/section-reviews.scss */
      .section-reviews::after {
        width: 11.1111111111rem;
        height: 10.5555555556rem;
        top: 1.1111111111rem;
        right: 0; } }

/* line 1, section-reviews/reviews-headline.scss */
.reviews-cap {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5555555556rem;
  position: relative; }
  /* line 7, section-reviews/reviews-headline.scss */
  .reviews-cap .reviews-title {
    font-size: 2.7222222222rem;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 4.4444444444rem; }

/* line 1, section-reviews/reviews.scss */
.reviews {
  display: flex;
  flex-direction: column; }
  /* line 7, section-reviews/reviews.scss */
  .reviews .reviews-main {
    margin-left: 6.8333333333rem;
    margin-right: 6.6666666667rem;
    margin-bottom: 4.4444444444rem; }
    @media screen and (max-width: 768px) {
      /* line 7, section-reviews/reviews.scss */
      .reviews .reviews-main {
        margin-left: 0;
        margin-right: 0; } }
    /* line 17, section-reviews/reviews.scss */
    .reviews .reviews-main::after {
      content: "";
      background: url(../../img/section-reviews/reviews-background/pattern.svg) top/65% no-repeat;
      position: absolute;
      width: 11.1111111111rem;
      height: 11.1111111111rem;
      top: 26.6666666667rem;
      right: 30%;
      z-index: 30; }
      @media screen and (max-width: 768px) {
        /* line 17, section-reviews/reviews.scss */
        .reviews .reviews-main::after {
          right: 0;
          top: 22.2222222222rem; } }
    /* line 43, section-reviews/reviews.scss */
    .reviews .reviews-main .reviews-main_list {
      position: relative;
      z-index: 40; }
      /* line 47, section-reviews/reviews.scss */
      .reviews .reviews-main .reviews-main_list .reviews-main_item {
        position: static;
        opacity: 1;
        pointer-events: unset; }
        /* line 52, section-reviews/reviews.scss */
        .reviews .reviews-main .reviews-main_list .reviews-main_item .reviews-main_inner {
          flex-wrap: wrap;
          display: flex; }
          @media screen and (max-width: 768px) {
            /* line 52, section-reviews/reviews.scss */
            .reviews .reviews-main .reviews-main_list .reviews-main_item .reviews-main_inner {
              flex-direction: column;
              align-items: center;
              text-align: center; } }
          /* line 62, section-reviews/reviews.scss */
          .reviews .reviews-main .reviews-main_list .reviews-main_item .reviews-main_inner .reviews-avatar {
            width: 14.1111111111rem;
            height: 14.4444444444rem;
            margin-right: 1.1111111111rem; }
            @media screen and (max-width: 768px) {
              /* line 62, section-reviews/reviews.scss */
              .reviews .reviews-main .reviews-main_list .reviews-main_item .reviews-main_inner .reviews-avatar {
                width: 20%;
                height: 20%; } }
            /* line 72, section-reviews/reviews.scss */
            .reviews .reviews-main .reviews-main_list .reviews-main_item .reviews-main_inner .reviews-avatar_img {
              display: flex;
              object-fit: cover;
              width: 100%;
              height: 100%; }
          /* line 80, section-reviews/reviews.scss */
          .reviews .reviews-main .reviews-main_list .reviews-main_item .reviews-main_inner .reviews-content {
            flex: 1; }
            /* line 83, section-reviews/reviews.scss */
            .reviews .reviews-main .reviews-main_list .reviews-main_item .reviews-main_inner .reviews-content .reviews-content_title {
              padding-top: 0.5555555556rem;
              font-size: 1.6111111111rem;
              font-weight: bold;
              padding-bottom: 1.0555555556rem; }
            /* line 90, section-reviews/reviews.scss */
            .reviews .reviews-main .reviews-main_list .reviews-main_item .reviews-main_inner .reviews-content .reviews-content_text {
              line-height: 1.2;
              padding: 0 8.3333333333rem 0.3888888889rem 0; }
              @media screen and (max-width: 768px) {
                /* line 90, section-reviews/reviews.scss */
                .reviews .reviews-main .reviews-main_list .reviews-main_item .reviews-main_inner .reviews-content .reviews-content_text {
                  padding: 0; } }
            /* line 99, section-reviews/reviews.scss */
            .reviews .reviews-main .reviews-main_list .reviews-main_item .reviews-main_inner .reviews-content .reviews-content_author {
              font-size: 1rem;
              font-weight: bold; }
  /* line 110, section-reviews/reviews.scss */
  .reviews .reviews-footer_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
    /* line 115, section-reviews/reviews.scss */
    .reviews .reviews-footer_list .reviews-footer_item {
      position: relative;
      width: 4.5555555556rem;
      height: 4.5555555556rem;
      border: 0.2222222222rem solid transparent;
      border-radius: 50%;
      overflow: hidden;
      cursor: pointer; }
      /* line 124, section-reviews/reviews.scss */
      .reviews .reviews-footer_list .reviews-footer_item.active {
        border-color: #365A49; }
      /* line 128, section-reviews/reviews.scss */
      .reviews .reviews-footer_list .reviews-footer_item .interactive-avatar_link {
        display: flex;
        position: absolute;
        width: 100%;
        height: 100%; }
        /* line 134, section-reviews/reviews.scss */
        .reviews .reviews-footer_list .reviews-footer_item .interactive-avatar_link .interactive-avatar_img {
          width: 100%;
          height: 100%;
          object-fit: cover; }

/* line 1, section-form/section-form.scss */
.section-form {
  width: 100%;
  height: 100vh;
  position: relative;
  position: relative;
  background: url(../img/section-form/pattern.svg) center center/cover no-repeat; }
  /* line 8, section-form/section-form.scss */
  .section-form::before {
    content: "";
    background: url(../img/section-form/berries.png) center center/75% no-repeat;
    width: 5.5555555556rem;
    height: 5.5555555556rem;
    position: absolute;
    left: 8.3333333333rem;
    bottom: 4.4444444444rem; }
    @media screen and (max-width: 768px) {
      /* line 8, section-form/section-form.scss */
      .section-form::before {
        display: none; } }
  /* line 22, section-form/section-form.scss */
  .section-form::after {
    content: "";
    background: url(../img/section-form/leaves.png) center center/90% no-repeat;
    width: 11.1111111111rem;
    height: 13.8888888889rem;
    position: absolute;
    right: 10rem;
    bottom: 5.5555555556rem; }
    @media screen and (max-width: 768px) {
      /* line 22, section-form/section-form.scss */
      .section-form::after {
        display: none; } }

/* line 1, section-form/form-cap.scss */
.form-cap {
  display: flex;
  justify-content: center;
  color: #0b4d3c;
  font-size: 2.6666666667rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 2.1666666667rem; }

/* line 1, section-form/form.scss */
.form {
  display: flex;
  color: #497870;
  flex-wrap: wrap;
  user-select: none; }
  @media screen and (max-width: 768px) {
    /* line 1, section-form/form.scss */
    .form {
      flex-direction: column;
      justify-content: center;
      width: 26.3333333333rem;
      margin: 0; } }
  /* line 14, section-form/form.scss */
  .form-col {
    flex: 1;
    margin-right: 0.9444444444rem; }
    @media screen and (max-width: 768px) {
      /* line 14, section-form/form.scss */
      .form-col {
        margin-right: 0; } }
    /* line 22, section-form/form.scss */
    .form-col .form-row {
      display: flex;
      margin-bottom: 0.8333333333rem; }
      @media screen and (max-width: 768px) {
        /* line 22, section-form/form.scss */
        .form-col .form-row {
          height: 3.4444444444rem;
          margin-bottom: 12px; } }
      /* line 31, section-form/form.scss */
      .form-col .form-row .form-block {
        flex: 1;
        margin-right: 1rem; }
        /* line 35, section-form/form.scss */
        .form-col .form-row .form-block:last-child {
          margin-right: 0; }
        /* line 39, section-form/form.scss */
        .form-col .form-row .form-block .form-input {
          width: 100%;
          padding: 1rem 0.5555555556rem;
          border: 0.1666666667rem solid transparent;
          border-radius: 0.2222222222rem; }
          /* line 45, section-form/form.scss */
          .form-col .form-row .form-block .form-input_align {
            text-align: center; }
          /* line 49, section-form/form.scss */
          .form-col .form-row .form-block .form-input:focus {
            border-color: #DEE2BD;
            border-radius: 0.2777777778rem;
            outline: none; }
          /* line 55, section-form/form.scss */
          .form-col .form-row .form-block .form-input_texterea {
            height: 10.1111111111rem;
            resize: none; }
            @media screen and (max-width: 768px) {
              /* line 55, section-form/form.scss */
              .form-col .form-row .form-block .form-input_texterea {
                height: 130%; } }
          @media screen and (max-width: 768px) {
            /* line 39, section-form/form.scss */
            .form-col .form-row .form-block .form-input {
              padding: 0.2777777778rem 0.2777777778rem; } }
    @media screen and (max-width: 768px) {
      /* line 71, section-form/form.scss */
      .form-col .form-controls {
        margin-top: 3.6111111111rem; } }
    /* line 77, section-form/form.scss */
    .form-col .form-controls .form-control {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 0.5555555556rem; }
      /* line 82, section-form/form.scss */
      .form-col .form-controls .form-control_checkbox {
        margin-bottom: 1.8888888889rem; }
      /* line 86, section-form/form.scss */
      .form-col .form-controls .form-control:last-child {
        margin-right: 0; }
      /* line 90, section-form/form.scss */
      .form-col .form-controls .form-control .radio {
        display: flex;
        cursor: pointer;
        user-select: none;
        margin-right: 0.5555555556rem; }
        /* line 96, section-form/form.scss */
        .form-col .form-controls .form-control .radio-elem {
          display: none; }
          /* line 100, section-form/form.scss */
          .form-col .form-controls .form-control .radio-elem:checked ~ .radio-visible::before {
            display: block; }
        /* line 106, section-form/form.scss */
        .form-col .form-controls .form-control .radio .radio-visible {
          width: 1.4444444444rem;
          height: 1.4444444444rem;
          position: relative;
          border-radius: 50%;
          background: #ffff;
          margin-right: 0.5555555556rem; }
          /* line 114, section-form/form.scss */
          .form-col .form-controls .form-control .radio .radio-visible::before {
            content: "";
            width: 0.7777777778rem;
            height: 0.7777777778rem;
            background: #365a49;
            border-radius: 50%;
            position: absolute;
            display: none;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%); }
        /* line 129, section-form/form.scss */
        .form-col .form-controls .form-control .radio-checkbox .radio-visible {
          border-radius: 0; }
          /* line 132, section-form/form.scss */
          .form-col .form-controls .form-control .radio-checkbox .radio-visible::before {
            background: url(../img/section-form/checkmark.png) center center no-repeat; }
    @media screen and (max-width: 768px) {
      /* line 140, section-form/form.scss */
      .form-col .form-controls .form-btns {
        display: flex;
        justify-content: center;
        align-items: center; } }

/* line 1, section-map/section-map.scss */
.section-map {
  display: flex;
  flex-direction: column;
  justify-content: center; }

/* line 1, section-map/map.scss */
.map {
  background-color: #fff;
  height: 100vh; }

/* line 1, section-map/footer.scss */
.footer-content {
  display: flex;
  justify-content: space-between;
  background-color: #fff; }
  /* line 6, section-map/footer.scss */
  .footer-content .footer-contacts {
    margin-left: 4.4444444444rem;
    display: flex;
    flex-direction: column; }
    /* line 11, section-map/footer.scss */
    .footer-content .footer-contacts .footer-contacts_address {
      font-size: 1.1666666667rem;
      font-style: normal; }
    /* line 16, section-map/footer.scss */
    .footer-content .footer-contacts .footer-phone {
      display: flex; }

/* line 22, section-map/footer.scss */
.phone-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 0.2777777778rem; }
  /* line 28, section-map/footer.scss */
  .phone-icon .phone-svg {
    fill: #497870; }

/* line 33, section-map/footer.scss */
.footer-link {
  font-size: 1.1666666667rem;
  text-decoration: none;
  font-style: normal;
  color: #497870; }

/* line 1, section-map/socials.scss */
.socials-list {
  display: flex;
  align-items: center;
  margin-right: 4.3333333333rem; }
  /* line 6, section-map/socials.scss */
  .socials-list .socials-item {
    margin-right: 1.1111111111rem; }
    /* line 9, section-map/socials.scss */
    .socials-list .socials-item:last-child {
      margin-right: 0; }
    /* line 13, section-map/socials.scss */
    .socials-list .socials-item .social-link {
      display: flex; }
      /* line 16, section-map/socials.scss */
      .socials-list .socials-item .social-link .social-fb {
        width: 1.1111111111rem;
        height: 1.1111111111rem;
        fill: #292929; }
      /* line 22, section-map/socials.scss */
      .socials-list .socials-item .social-link .social-in {
        width: 1.1111111111rem;
        height: 1.1111111111rem;
        fill: #B3B3B3; }
      /* line 28, section-map/socials.scss */
      .socials-list .socials-item .social-link .social-tv {
        width: 1.1111111111rem;
        height: 1.1111111111rem;
        fill: #B3B3B3; }

/* line 1, fixed-menu/fixed-menu.scss */
.fixed-menu {
  position: fixed;
  top: 40%;
  right: 5%;
  z-index: 100; }

/* line 8, fixed-menu/fixed-menu.scss */
.fixed-menu_item {
  margin-bottom: 0.2777777778rem; }
  /* line 12, fixed-menu/fixed-menu.scss */
  .fixed-menu_item--active .fixed-menu_link {
    border-color: #fff; }

/* line 18, fixed-menu/fixed-menu.scss */
.fixed-menu_link {
  position: relative;
  width: 0.8888888889rem;
  height: 0.8888888889rem;
  border-radius: 50%;
  border: 0.0555555556rem solid transparent;
  display: block; }
  /* line 26, fixed-menu/fixed-menu.scss */
  .fixed-menu_link::before {
    position: absolute;
    content: "";
    display: block;
    width: 0.3333333333rem;
    height: 0.3333333333rem;
    border-radius: 50%;
    background: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
