.footer-container_content {
  display: flex;
  justify-content: space-between;
  margin-left: 80px;
  margin-bottom: 8px;

  .footer-contacts {
    display: flex;
    flex-direction: column;

    .footer-contacts_address {
      font-size: 21px;
      font-style: normal;
    }

    .footer-phone {
      display: flex;
    }
  }
}

.phone-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 5px;

  .phone-svg {
    fill: #497870;
  }
}

.footer-link {
  font-size: 21px;
  text-decoration: none;
  font-style: normal;
  color: #497870;
}