.footer-content {
  display: flex;
  justify-content: space-between;
  background-color: #fff;

  .footer-contacts {
    margin-left: rem(80px);
    display: flex;
    flex-direction: column;

    .footer-contacts_address {
      font-size: rem(21px);
      font-style: normal;
    }

    .footer-phone {
      display: flex;
    }
  }
}

.phone-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: rem(5px);

  .phone-svg {
    fill: #497870;
  }
}

.footer-link {
  font-size: rem(21px);
  text-decoration: none;
  font-style: normal;
  color: #497870;
}