.socials-list {
  display: flex;
  align-items: center;
  margin-right: rem(78px);

  .socials-item {
    margin-right: rem(20px);

    &:last-child {
      margin-right: 0;
    }

    .social-link {
      display: flex;

        .social-fb {
        width: rem(20px);
        height: rem(20px);
        fill:#292929;
      }

      .social-in {
        width: rem(20px);
        height: rem(20px);
        fill:#B3B3B3;
      }
 
      .social-tv {
        width: rem(20px);
        height: rem(20px);
        fill:#B3B3B3;
      }
    }
  }
}