.benefits-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: rem(69px);
  margin-right: rem(69px);

  @include phones {
    line-height: 1;
    margin: 0 5% 0 5%;
   }
  
  .benefits {
    text-align: center;

    @include phones {
      text-align: left;
    }
  }

  .benefits-item {
    flex: 1;
    padding: 0 4%;
    position: relative;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }

    @include phones {
      display: flex;
      justify-content: space-between;
      padding: 0 0 rem(15px) 0;
    }

    .benefits-image {
      margin-bottom: rem(55px);

      @include phones {
        margin: 0;
      }

      .benefits-wrap {
        height: rem(112px);
        width: rem(112px);
        display: flex;
        justify-content: center;
        align-items: center;

        .icon-happy {
          width: rem(65px);
          height: rem(69px);
          
          fill:#292929;
        }

        .icon-smile {
          width: rem(68px);
          height: rem(68px);
          fill:#292929;
        }

        .icon-hand {
          width: rem(79px);
          height: rem(63px);
          fill:#292929;
        }
      }
    }
     
    .benefits-text {

      .benefits-title {
        font-size: rem(27px);
        font-weight: bold;
        margin-bottom: rem(16px);

        @include phones {
          margin-left: rem(18px);
        }
      }
  
      .benefits-desc {
        line-height: 1.2;
      }
    }
  }
}