.headline-cap {
  display: flex;
  flex-direction: column;
  margin-bottom: rem(95px);

  .headline-title {
    font-size: rem(48px);
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: rem(20px);
  }

  .headline-subtitle {
    padding: 0 29%;
  }
}

