.headline-cap {
  display: flex;
  flex-direction: column;
  margin-bottom: 95px;

  .headline-title {
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  .headline-subtitle {
    padding: 0 29%;
  }
}

