.benefits-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: rem(69px);
  margin-right: rem(69px);
  
  .benefits {
    text-align: center;
  }

  .benefits-item {
    flex: 1;
    padding: 0 4%;
    position: relative;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }

    .benefits-image {
      margin-bottom: rem(55px);

      .benefits-wrap {
        height: rem(70px);
        display: flex;
        justify-content: center;

        .icon-happy {
          width: rem(65px);
          height: rem(69px);
          fill:#292929;
        }

        .icon-smile {
          width: rem(68px);
          height: rem(68px);
          fill:#292929;
        }

        .icon-hand {
          width: rem(79px);
          height: rem(63px);
          fill:#292929;
        }
      }
    }
     
    .benefits-text {

      .benefits-title {
        font-size: rem(27px);
        font-weight: bold;
        margin-bottom: rem(16px);
      }
  
      .benefits-desc {
        line-height: 1.2;
      }
    }
  }
}