html {
  font-size: $baseFontSize ; /* Определяет размер шрифта элемента */
}

body {
  font-family: 'Alegreya Sans', sans-serif;  /* выбор шрифта */
  color: #001822;                      /* цвет шрифта */
  line-height: 1.42;                     /* междустрочный пробел */
  // background: #fff;                 /* цвет фона */
  -webkit-font-smoothing: antialiased;   /* свойства для сглаживания шрифта */
  margin: 0 0;
}

a {
  color: inherit;   /* цвет для ссылок, inherit - наследование от блока */
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  list-style: none; /*убрать точки стилей*/
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal;
}

p {
  margin-top: 0;
}

*{
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  width: 95%;
  max-width: $containerWidth;
}

.container-hero {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: rem(10px) rem(10px) 0 0;
  height: 100vh;
}

.container-benefits {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;

  @include phones {
    justify-content: space-evenly;
  }
}

.container-reviews {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.container-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


