.bullet-text {
  margin-left: rem(80px);
  margin-bottom: rem(50px);
  z-index: 10;
  
  .bullet-list {
    display: flex;
    flex-wrap: wrap;

    .bullet-item {
      display: flex;
      
      .bullet-icon {
        margin-right: rem(8px);

        .bullet-leaves_icon {
          width: rem(44px);
          height: rem(42px);
          fill: #fff
        }
  
        .bullet-auto_icon {
          width: rem(55px);
          height: rem(41px);
          fill: #fff
        }
  
        .bullet-paper_icon {
          width: rem(45px);
          height: rem(42px);
          fill: #fff
        }
      }
      
      .bullet-leaves {
        display: flex;
        width: rem(90px);
        font-size: rem(16px);
        line-height: 1.2;
        margin-right: rem(35px);
      }
    
      .bullet-auto {
        display: flex;
        width: rem(72px);
        font-size: rem(16px);
        line-height: 1.2;
        margin-right: rem(35px);
      }
    
      .bullet-paper {
        display: flex;
        width: rem(64px);
        font-size: rem(16px);
        line-height: 1.2;
      }
    }
  }

  @include tablets {
    display: none;
  }
}