.bullet-text {
  margin-left: 80px;
  margin-bottom: 50px;

  .bullet-list {
    display: flex;

    .bullet-item {
      display: flex;
      
      .bullet-icon {
        margin-right: 8px;

        .bullet-leaves_icon {
          width: 44px;
          height: 42px;
          fill: #fff
        }
  
        .bullet-auto_icon {
          width: 55px;
          height: 41px;
          fill: #fff
        }
  
        .bullet-paper_icon {
          width: 45px;
          height: 42px;
          fill: #fff
        }
      }
      
      .bullet-leaves {
        display: flex;
        width: 90px;
        font-size: 16px;
        line-height: 1.2;
        margin-right: 35px;
      }
    
      .bullet-auto {
        display: flex;
        width: 72px;
        font-size: 16px;
        line-height: 1.2;
        margin-right: 35px;
      }
    
      .bullet-paper {
        display: flex;
        width: 64px;
        font-size: 16px;
        line-height: 1.2;
      }
    }
  }
}