.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: rem(24px);
  margin-left: rem(80px);
  margin-right: rem(80px);

  @include tablets {
    margin-left: rem(4px);
  }

  @include phones {
    margin: 0;
  }

  .header-col_left {
    display: flex;
    width: 78%;
  
    .logo-link {
      display: flex;
   
      .logo-icon {
        fill: #fff;
      }
    }

    .header-menu {
      width: 100%;
      font-size: rem(18px);
      margin-top: rem(8px);
      margin-left: rem(43px);
    
      .menu-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        
        .menu-benefits:hover {
          color: #365A49;
        }
        
        .menu-slider:hover {
          color: #365A49;
        }
        
        .menu-team:hover {
          color: #365A49;
        }
        
        .menu-products:hover {
          color: #365A49;
        }
        
        .menu-reviews:hover {
          color: #365A49;
        }
        
        .menu-player:hover {
          color: #365A49;
        }
        
        .menu-map:hover {
          color: #365A49;
        }
    
        .menu-link {
          text-decoration: none;
        }
      }

      @include tablets {
        display: none;
      }
    }
  }

  .header-col_right {
    display: flex;
    width: rem(170px);

    .phone-link {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-right: rem(5px);
   
      .phone-icon {
        fill: #fff;
      }
    }
    
    .header-contacts {
      width: rem(143px);

      .header-phone {
        font-size: rem(24px);
        text-decoration: none;
        font-style: normal;
      }
    }
    @include tablets {
      display: none;
    }
  }
}













