.btn {
  font-size: rem(16px);
  border-radius: rem(35px);
  padding: rem(20px) rem(38px);
  font-weight: 800;
  text-transform: uppercase;
  border: none;
  
  
  //Section-hero
  &-title {
    color: $buttonTextColor;

    &:hover {
      color: $buttonTextColorLight;
    }
  }

  //Section-form
  &-form {
    background: $buttonColorLight;
    color: $buttonTextColor-None;
  
    &:hover {
      background: $buttonColorDark;
    }

    &_transparent {
      background: transparent;
      color: $buttonTextColorLight;
      font-weight: 400;
      text-transform: none;

      &:hover {
        color: $buttonTextColor--None;
      }
    }
  }
}

